## Required
API_ID=
API_HASH=""
PYRO_SESSION="" # Same Session Supported 

## Optional
HEADER_MSG="" # Use Markdown / HTML for Formatting
FOOTER_MSG="" # Use Markdown / HTML for Formatting
MSG_BUTTONS="" # b_text#b_url|b_textb_url||b_text#b_url|b_text#b_url
TIME_ZONE="Asia/Kolkata"